* {
    /* tenha o tamanho até a borda do elemento*/
    box-sizing: border-box;
}

body {
    background-color: #EEE;
    font-family: 'Lato', Helvetica, Arial;
    font-size: 15px;
    display: flex;
    margin: 0;
    /* altura min: se auto ajustar proporcionalmente (ocupar 100% da altura)*/
    min-height: 100vh;
}

.models {
    /* nao é pra mostrar*/
    display: none;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: #399ade;
    /* só irá aparcerer no mobile, por isso none por hora*/
    display: none;
    /*posicionar pelo final do elemento*/
    justify-content: flex-end;
    align-items: center;
}

.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    /*afastar 5px cima embaixo, 20px lados*/
    padding: 5px 20px;
    border-radius: 5px;
}

.menu-openner span {
    margin-right: 10px;
}

.menu-closer {
    width: 32px;
    height: 32px;
    display: none;
    font-size: 30px;
}

aside {
    background-color: #9ccbe6;
    /*não terá tamanho pra nao acupar um espaço no desktop*/
    width: 0vw;
    font-family: 'Hepta Slab', Helvetica, Arial;
    /*transição de aparecer ao lado*/
    /*tudo, ease= duração transição(lento - rapido - lento), duração 2s */
    transition: all ease 0.2s;
    /*se passar da medida em x, esconda*/
    overflow-x: hidden;
}

/*classe que será aplicada quando tiver elemento dentro dele*/
aside.show {
    /*aperecer 30% da tela*/
    /*"%" = em relação ao tamanho do elemento em que ele esta inserido*/
    /*"vw" = % em relação a tela*/
    width: 30vw;
}

.cart--area {
    padding: 20px;
}

main {
    /*ocupa o espaço que sobrar, 100% sem aside, com o aside que ocupa 30%, ele ocupa 70% ex:*/
    flex: 1;
    padding: 20px;
}

h1 {
    font-family: 'Hepta Slab', Helvetica, Arial;
}

.models-area {
    display: grid;
    /*define os nomes das linhas e as funções de dimensionamento de faixas das colunas da grade*/
    /*"fr"=fração do espaço disponível no container do grid*/
    /*será repitido 3x a divisao de 1fr*/
    grid-template-columns: repeat(3, 1fr);
}

.models-item {
    text-align: center;
    /*largura maxima*/
    max-width: 250px;
    font-family: 'Hepta Slab', Helvetica, Arial;
    margin: 0 auto 50px auto;
}

.models-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.models-item--img {
    width: 200px;
    /*altura automatica*/
    height: 200px;
    background-color: #eee;
    /*elemento circular height/2* exemplo border-radius: 100px*/
    border-radius: 20px;
    /*sombra*/
    /*"rgba(0, 0, 0, 0.2)" vermelho, verde, azul, opacidade (0 a 1 sendo 1 solido)*/
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.models-item--img img {
    width: 100%;
    border-radius: 20px;
    /*altura automatica*/
    height: auto;
}

.models-item--add {
    width: 50px;
    height: 50px;
    /*altura da linha na frase*/
    line-height: 50px;
    border-radius: 25px;
    background-color: #3888c5;
    text-align: center;
    color: #fff;
    font-size: 22px;
    /*tipo de cursor do mouse*/
    cursor: pointer;
    margin-top: -25px;
    transition: all ease 0.2s;
}

.models-item a:hover .models-item--add {
    background-color: #244c88;
}

.models-itens--price {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}

.models-item--name {
    font-size: 15px;
    color: #000;
    /*define o peso (ou negrito) da fonte*/
    font-weight: bold;
    margin-top: 5px;
}

.models-item--desc {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}

.modelsWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease 0.5s;
    /*define como o navegador distribui o espaço entre e ao redor dos itens de conteúdo ao
    longo do eixo principal de um contêiner flexível e do eixo embutido de um contêiner de grade.*/
    justify-content: center;
    align-items: center;
    /*controla o que acontece com o conteúdo grande demais para caber em uma área.*/
    overflow: auto;
}

.modelsWindowBody {
    width: 900px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0;
}

.modelsBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.models.Big--back {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #000;
}

.modelsBig img {
    height: 400px;
    /*a largura deixa de ser proporcional e passa a ser o que tiver de espaço, criando distorção imagem*/
    width: auto;
}

.modelsInfo {
    /*quando se usa o flex-direction, O flex: 1; é necessário para que cada item se expanda ocupando
 o tamanho máximo do container. */
    flex: 1;
    font-family: 'Hepta Slab', Helvetica, Arial;
    /*padding-bottom: define a altura da área de preenchimento na parte inferior de um elemento*/
    padding-bottom: 50px;
}

.modelsInfo h1 {
    margin-top: 50px;
}

/*atribuindo algo apenas para o modelsInfo--desc que esta dentro do modelsInfo*/
.modelsInfo .modelsInfo--desc {
    font-size: 15px;
    color: #999;
    margin-top: 10px;
    font-family: 'Lato', Helvetica, Arial;
}

.modelsInfo--sector {
    color: #CCC;
    /*texto maiúsculo, quando a pessoa for escrever fica padronizado para o back-end*/
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.modelsInfo--sizes {
    display: inline-flex;
    border-radius: 10px;
    /*overflow controla o que acontece com o conteúdo grande demais para caber em uma área.*/
    /*hidden- O estouro é cortado e o restante do conteúdo ficará invisível*/
    overflow: hidden;
}

.modelsInfo--size {
    padding: 10px 15px;
    color: #000;
    background-color: #eee;
    font-size: 13px;
    /*negrito*/
    font-weight: bold;
    cursor: pointer;
}

.modelsInfo--size:hover {
    background-color: #CCC;
}

.modelsInfo--size.selected {
    background-color: #399ADE;
    color: #fff;
}

.modelsInfo--size.selected span {
    color: #d6d6d6
}

.modelsInfo--size span {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.modelsInfo--price {
    display: flex;
    align-items: center;
}

.modelsInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}

.modelsInfo--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.modelsInfo--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.modelsInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.modelsInfo--addButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48D05f;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.modelsInfo--addButton:hover {
    background-color: #32a345;
}

.modelsInfo--cancelButton {
    display: inline-block;
    cursor: pointer;
}

.modelsInfo--cancelMobileButton {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
}

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item-qtarea {
    display: inline-block;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.cart--item-qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    /*uma linha desenhada fora da borda do elemento.*/
    outline: 0;
    cursor: pointer;
    padding: 0 10px;
    color: #333;
}

.cart--item-qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px;
    border-top: 1px solid #79b9dd;
    color: #315978;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

/*first-child:primeiro elemento dentro do span*/
.cart--totalitem span:first-child {
    /*negrito*/
    font-weight: bold;
}

.cart--totalitem.big {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48D05f;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #63f77c;
    transition: all ease 0.2s;
}

.cart--finalizar:hover {
    background-color: #35af4a;
}

/*------------------------RESPONSIVIDADE----------------------*/

/*limite tablet*/
@media (max-width: 1000px) {
    .models-area {
        /*grid columns: é o espaço entre duas linhas de grade verticais
        grid-template-columns: define os nomes das linhas e as funções de dimensionamento de faixas das grid columns*/
        grid-template-columns: repeat (2, 1fr);
    }
}

/*tablet em pé ou smart*/
@media (max-width: 840px) {
    body {
        flex-direction: column;
    }

    .models-area {
        display: block;
    }

    .models-item {
        max-width: 100%;
    }

    header {
        display: flex;
    }

    main {
        padding-top: 60px;
    }

    aside {
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease 0.2s;
    }

    aside.show{
        width: auto;
    }

    .cart--area{
        width: 100vw;
    }

    .menu-closer{
        display: block;
    }

    .modelsWindowArea{
        /*flex-start: os itens são empacotados em direção à linha de partida, ficam juntados a esquerda*/
        justify-content: flex-start;
        align-items: flex-start;
    }

    .modelsWindowBody{
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        /*sem sombra*/
        box-shadow: none;
        margin: 0;
    }

    .modelsBig img{
        /*largura*/
        width: 75%;
        /*altura*/
        height: auto;
    }
    
    .modelsInfo h1{
        margin-top: 20px;
    }

    .modelsInfo--qtarea{
        height: 60px;
    }

    .modelsInfo--qtarea button{
        font-size: 25px;
        padding: 0 25px;
    }

    .modelsInfo--qt{
        line-height: 60px;
        font-size: 20px;
    }

    .modelsInfo--addButton{
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .modelsInfo--cancelButton{
        display: none;
    }
    .modelsInfo--cancelMobileButton{
        display: block;
    }
}